.paintframe {
    position: absolute;
    z-index: 10000;
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/36593181-dd0c-4ffe-ae9e-ca0ed64897fb.png");
    background-size: 100%;
    display: none;
    width: ${css_vw(100)};
    height: ${css_vh(100)};
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.paintframe.appear {display: block;}

.paintframe.disappear {display: none;}

/*name*/

.spriteform {
    margin: ${css_vh(0.65)} auto;
    position: relative;
    top:  ${css_vh(0.65)};
    width: ${css_vh(31.25)};
    height: ${css_vh(6.51)};
}

.spriteform input{
    text-align: center;
    color: #929497;
    font-family: Verdana;
    font-size: ${css_vh(2.60)};
    cursor: default;
    padding: ${css_vh(0.26)};
    padding-left: ${css_vh(0.65)};
    border: ${css_vh(0.13)} solid #808080;
    -webkit-border-radius: ${32 * scaleMultiplier}px;
    outline: ${css_vh(0.00)};
    background: white;
    width: ${css_vh(31.25)};
    height: ${css_vh(5.21)};
}

spriteform.on {visibility: hidden;};
spriteform.off {visibility: hidden; };

/* main canvas */

*.maincanvas {
    position: absolute;
    width: 432px;
    height: 384px;
    z-index: 4;
    top: ${css_vh(0.00)};
    left: ${css_vh(0.00)};
    cursor: default;
    background: #F5F2F7;
    -webkit-transform-style: preserve-3d;
}

*.active3d {
    -webkit-transform-style: preserve-3d;
}

*.paintop {
    position: absolute;
    padding: ${css_vh(0.00)};
    margin: ${css_vh(0.00)};
    width: ${css_vw(100)};
    height: ${css_vh(8.33)};
}

.paintdone {
    float: right;
    display: block;
    margin: ${css_vh(0.65)} ${css_vh(0.65)} ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(8.46)};
    height: ${css_vh(8.46)};
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/71d6b0ed-fd34-494e-8183-186a0f4cce35.svg");
    background-size: 100%;
    -webkit-user-select: none;
    z-index: 1000;
}

.paintdone:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/2b5cd91f-3e56-4a23-b555-0d51803ced88.svg");
    background-size: 100%;
}

/* camera */

.phototopbar {
    position: fixed;
    top: 0;
    left: 0;
    height: ${css_vh(10.29)};
    width: ${css_vw(100)};
    overflow: hidden;
    text-shadow: none;
    background: none;
    border: ${css_vh(0.00)} solid black;
}

.actions .photobuttons {
    float: right;
    display: block;
    margin: ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(10.29)};
    height: ${css_vh(10.29)};
}

.flipcamera {
    float: right;
    position: relative;
    display: /*block;*/ none;
    margin: ${css_vh(0.00)};
    width: ${css_vh(10.29)};
    height: ${css_vh(10.29)};
    margin: ${css_vh(0.65)};
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/98e0cf94-5714-4b20-ac67-1966f7561de7.svg");
    background-size: 100%;
}

.flipcamera:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/b924239c-ae5e-4645-b397-481d2ec3d8c1.svg");
    background-size: 100%;
}

.cameraclose {
    float: left;
    display: block;
    margin: ${css_vh(0.00)};
    width: ${css_vh(10.29)};
    height: ${css_vh(10.29)};
    margin: ${css_vh(0.65)};
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/240b22c0-166c-4b18-8699-465415b7a7c6.svg");
    background-size: 100%;
}

.cameraclose:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/027b53f4-a3e3-4888-b491-a917a8ab1cad.svg");
    background-size: 100%; }

.snapshot-container {
    position: absolute;
    bottom: ${css_vh(1.30)};
    height: ${css_vh(10.29)};
    width: 100%;
    pointer-events: auto;
}

.snapshot {
    width: ${css_vh(10.29)};
    height: ${css_vh(10.29)};
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/86b3280c-3512-41c3-af10-7b982504d257.svg");
    background-size: 100%;
}

.snapshot:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/027b53f4-a3e3-4888-b491-a917a8ab1cad.svg");
    background-size: 100%;
}


/* Undo */

.paintundo {
    float: left;
    position: relative;
    margin:  ${css_vh(0.78)} ${css_vh(0.65)} ${css_vh(0.00)};
    width: ${css_vh(23.44)};
    height: ${css_vh(8.07)};
}


.undocircle{
    display: inline-block;
    position: relative;
    margin: ${css_vh(0.00)} ${css_vh(1.30)} ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(8.46)};
    height: ${css_vh(8.33)};
}

.undo {
    position: relative;
    width: ${css_vh(8.46)};
    height: ${css_vh(8.33)};
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/2094edc8-2c3d-43e9-9259-45837b33fb2c.svg");
    background-size: 100%;
    -webkit-user-select: none;
}

.redo {
    position: relative;
    width: ${css_vh(8.46)};
    height: ${css_vh(8.33)};
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/fab4f088-49bc-416e-9975-5b15daab8cd8.svg");
    background-size: 100%;
    -webkit-user-select: none;
}

.undo.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/5caa6cb1-4272-427f-b311-2ed9202858af.svg");
    background-size: 100%;
}

.undo.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/2094edc8-2c3d-43e9-9259-45837b33fb2c.svg");
    background-size: 100%;
}

.redo.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/9656463a-39bc-4023-8018-9a7a4d261c9a.svg");
    background-size: 100%;
}

.redo.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/fab4f088-49bc-416e-9975-5b15daab8cd8.svg");
    background-size: 100%;
}

.undo.on:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/4dd3b18c-3ff0-4113-ba3f-c430dfedaa89.svg");
    background-size: 100%;
}

.undo.off:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/6e91cb0b-ce54-486c-ae19-925b88199349.svg");
    background-size: 100%;
}

.redo.on:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/4ea49f47-78c3-43d5-b445-57b7ee40b4ac.svg");
    background-size: 100%;
}

.redo.off:active {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/5d2e51d0-5262-4349-8c8c-cd48bfe4afeb.svg");
    background-size: 100%;
}


/* inner */

*.innerpaint {
    position: absolute;
    top: ${css_vh(8.33)};
    padding: ${css_vh(0.00)};
    margin: ${css_vh(0.00)};
    width: ${css_vw(100)};
    height: ${css_vh(76.56)};
}

*.side {
    position: absolute;
    right: ${css_vw(2)};
    top: ${css_vh(8.25)};
    margin: ${css_vh(1.56)} ${css_vh(0.00)} 0;
    padding: ${css_vh(0.00)} ${css_vh(0.39)} ${css_vh(0.00)};
    width: ${css_vh(10.42)};
    height: ${css_vh(65.18)};
    overflow: hidden;
    z-index: 100;
}

*.side.up {
    top: ${css_vh(3)};
    height: ${css_vh(73.18)};
    left: ${css_vw(2.00)};
}

*.paintpalette {
    display: inline-block;
    position: absolute;
    margin: ${css_vh(0.00)};
    margin-bottom: ${css_vh(0.65)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(10.42)};
    overflow: hidden;
    height: 100%;
}

*.paintpalette .section {
    display: inline-block;
    position: absolute;
    top: ${css_vh(0)};
}

*.paintpalette .section.space {
    margin-top: ${css_vh(3.13)};
    top: ${css_vh(33)};
}

*.paintpalette.short {
    display: inline-block;
    position: absolute;
    margin: ${css_vh(0.65)} ${css_vh(0.00)} ${css_vh(0.65)};
    height: ${css_vh(16.67)};
}

*.paintpalette.short#selectortools {
    top: ${css_vh(0)};
}

*.paintpalette.short#edittools {
    top: ${css_vh(19.4)};
}

*.paintpalette.short#filltools {
    top: ${css_vh(38.7)};
}

*.paintpalette.medium {
    display: inline-block;
    position: relative;
    margin: ${css_vh(0.65)} ${css_vh(0.00)} ${css_vh(0.65)};
    height: ${css_vh(25.00)};
}

*.paintpalette.single {
    display: inline-block;
    position: relative;
    margin: ${css_vh(0.65)} ${css_vh(0.00)} ${css_vh(0.65)};
    height: ${css_vh(8.33)};
}

/* left tools */

*.paintpalette .element{
    margin: ${css_vh(0.00)} ${css_vh(1.30)} ${css_vh(1.0)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(7.81)};
    height: ${css_vh(7.16)};
}

*.paintpalette .element.first{}

*.paintpalette .element.last{}

*.paintpalette .element.single{}

*.paintpalette .element.off{}

*.paintpalette .element.on {}

*.tool {
    position: absolute;
    width: ${css_vh(8.33)};
    height: ${css_vh(8.33)};
}

*.tool.path.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/a7ce8d58-dbc6-4b15-8cba-d857769ca98e.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.path.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/1ca50526-ae01-41d8-9594-ad3877afca6f.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.tri.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/0c156b27-0a55-4bba-babb-c7ead3627e11.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.tri.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/88881775-90a1-45d5-b434-29f8311342dc.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.rect.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/7e96350e-a495-4877-8fc8-1fa3558e7397.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.rect.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/f5a5be16-b7c1-414b-82bf-641327137469.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.ellipse.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/21d8988e-327d-4236-9a30-39eab4f684c2.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.ellipse.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/e7805671-3ccb-45c5-a443-d9160383cab3.svg") no-repeat center top;
    background-size: 100%;
}

*.tool.paintbucket.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/573315bd-b56e-4bf9-8def-9f48c4c0890d.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.paintbucket.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/e32f166e-0ac6-4288-801f-2edd857448fe.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.select.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/1c5736d9-018c-4b6b-99d0-c2ce4c9cdf61.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.select.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/d862122e-3985-4623-bba2-9a25fb1d5d3d.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.rotate.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/49d0d569-3bb1-4da2-8e28-879f533b20f4.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.rotate.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/77d111f0-0090-4475-9d9a-45d1fe8b90e9.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.stamper.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/627c7baf-0258-4b54-86c7-28484dedbd4d.svg")no-repeat center top;
    background-size: 100%;
}
*.tool.stamper.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/a2cf7b73-ce5a-4e26-b731-26d71e8df32c.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.scissors.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/eaf7744e-3136-461f-9db5-7ba470c70336.svg")no-repeat center top;
    background-size: 100%;
}
*.tool.scissors.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/a9f5459b-7d20-4364-954f-f4d3e8354fbc.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.camera.off {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/4b605af2-bbfa-4d1d-a76f-73ed1846b30d.svg") no-repeat center top;
    background-size: 100%;
}
*.tool.camera.on {
    background: url("https://cdn-web-2.ruangguru.com/landing-pages/assets/1d4864e6-3590-4908-b516-226f252c1565.svg") no-repeat center top;
    background-size: 100%;
}


*.paintpalette   hr{
    position: relative;
    margin: 0 auto;
    height: ${css_vh(0.26)};
    border: 0;
    box-shadow: inset 0 ${4 * scaleMultiplier}px ${4 * scaleMultiplier}px -${4 * scaleMultiplier}px rgba(166, 168, 171, 0.7);
}

*.paintpalette .pensizeholder {
    display: inline-block;
    position: relative;
    margin: ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(10.42)};
    height: ${css_vh(5.86)};
}

*.paintpalette .pensizeholder.off {background: none;}

*.paintpalette .pensizeholder.on {
    background:  url("https://cdn-web-2.ruangguru.com/landing-pages/assets/24443b9e-7344-465a-a111-a2f8f3761342.svg");
    background-size: 100%;
}

*.paintpalette .pensizeholder .line {
    position: absoulte;
    margin: ${css_vh(2.60)} ${css_vh(1.56)} ${css_vh(0.00)};
    width: ${css_vh(7.03)};
    height: ${css_vh(0.13)};
    background: #080808;
    -webkit-box-shadow: ${2 * scaleMultiplier}px ${2 * scaleMultiplier}px ${5 * scaleMultiplier}px rgba(0, 0, 0, 0.3);
}

*.paintpalette .pensizeholder .line.t0 {
    margin: ${css_vh(2.60)} ${css_vh(1.56)} ${css_vh(0.00)};
    height: ${css_vh(0.26)};
}

*.paintpalette .pensizeholder .line.t1 {
    margin: ${css_vh(2.60)} ${css_vh(1.56)} ${css_vh(0.00)};
    height: ${css_vh(0.26)};
}

*.paintpalette .pensizeholder .line.t2 {
    margin: ${css_vh(2.47)} ${css_vh(1.56)} ${css_vh(0.00)};
    height: ${css_vh(0.52)};
}

*.paintpalette .pensizeholder .line.t3 {
    margin: ${css_vh(2.08)} ${css_vh(1.56)} ${css_vh(0.00)};
    height: ${css_vh(1.04)};
}

*.paintpalette .pensizeholder .line.t4 {
    margin: ${css_vh(1.82)} ${css_vh(1.56)} ${css_vh(0.00)};
    height: ${css_vh(2.08)};
}

.swatchpalette-container {
    position: absolute;
    top: ${css_vh(84.90)};
    width: 100%;
    pointer-events: auto;
}

*.swatchpalette {
    margin-left: auto;
    margin-right: auto;
    width: ${css_vh(130.21)};
    height: ${css_vh(13.54)};
}

/*swatches */

*.swatchbucket {
    display: inline-block;
    position: relative;
    margin: ${css_vh(-0.52)} ${css_vh(0.00)} ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(6.51)};
    height: ${css_vh(7.03)};
    -webkit-user-select: none;
}

*.swatchframe {
    position: absolute;
    margin: ${5 * scaleMultiplier}px ${5 * scaleMultiplier}px 0px;
    padding: 0px;
    width: ${css_vh(5.21)};
    height: ${css_vh(5.21)};
    background-image: -webkit-linear-gradient(top,#666,#fff);
    -webkit-box-shadow: 0px ${3 * scaleMultiplier}px ${5 * scaleMultiplier}px #333;
    -webkit-border-radius: ${css_vh(3.13)};
    -webkit-user-select: none;
}

*.splasharea {
    position: absolute;
    margin:  ${css_vh(0.00)};
    padding: ${css_vh(0.00)};
    width: ${css_vh(6.51)};
    height: ${css_vh(7.03)};
}

*.splasharea img {
    height: ${css_vh(7.03)};
}

*.splasharea.off {display: none;}
*.splasharea.on {display: block;}

.swatchcolor {
    position: absolute;
    top: ${css_vh(0.26)};
    left: ${css_vh(0.26)};
    width: ${css_vh(4.69)};
    height: ${css_vh(4.69)};
    background: yellow;
    -webkit-border-radius: ${css_vh(3.13)};
}

/* Workspace */

.workspacebkg-container {
    position: absolute;
    top: ${css_vh(0.65)};
    left: ${css_vh(0)};
    width: 100%;
    pointer-events: auto;
}

.workspacebkg {
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: ${css_vh(0.13)} solid #b0b1b1;
    width: 78%;
    height: ${css_vh(74.48)};
    overflow: hidden;
    -webkit-border-radius: ${4 * scaleMultiplier}px;
    -webkit-box-shadow: inset 0 0 ${4 * scaleMultiplier}px #b0b1b1;
}

.canvasbkg {
    width: ${css_vh(62.50)};
    height: ${css_vh(46.88)};
    background-color: #F5F2F7;
    position: absolute;
    border: ${css_vh(0.13)} solid #b0b1b1;
}

div.toolbox{
    position: absolute;
    background: #f1f1f2;
    border: ${css_vh(0.26)} groove #B9BBBD;
    opacity: 0.5;
}

div.boxbkg{
    background-color: #f1f1f2;
    display: inline-block;
    vertical-align: top;
    margin: ${css_vh(0.13)};
    padding: ${css_vh(0.00)};
};
